In [1]:
import pandas as pd

In [2]:
from sqlalchemy import create_engine

In [4]:
!wget https://d37ci6vzurychx.cloudfront.net/misc/taxi+_zone_lookup.csv

--2024-01-29 18:49:38--  https://d37ci6vzurychx.cloudfront.net/misc/taxi+_zone_lookup.csv
Resolving d37ci6vzurychx.cloudfront.net (d37ci6vzurychx.cloudfront.net)... 18.239.38.163, 18.239.38.181, 18.239.38.83, ...
Connecting to d37ci6vzurychx.cloudfront.net (d37ci6vzurychx.cloudfront.net)|18.239.38.163|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 12322 (12K) [text/csv]
Saving to: ‘taxi+_zone_lookup.csv’

taxi+_zone_lookup.c 100%[===================>]  12.03K  --.-KB/s    in 0s

2024-01-29 18:49:38 (43.9 MB/s) - ‘taxi+_zone_lookup.csv’ saved [12322/12322]

In [5]:
df = pd.read_csv('taxi+_zone_lookup.csv')

In [14]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [15]:
df.head()

0

In [18]:
df.to_sql(name='zones', con=engine, if_exists='replace')

Inserted another chunk...took: 9.346803188323975
Inserted another chunk...took: 9.324097871780396
Inserted another chunk...took: 9.355193853378296
Inserted another chunk...took: 9.497532844543457
Inserted another chunk...took: 9.55679965019226
Inserted another chunk...took: 9.474254131317139
Inserted another chunk...took: 9.401846647262573
Inserted another chunk...took: 9.285743951797485
Inserted another chunk...took: 9.323712587356567
Inserted another chunk...took: 9.21903395652771
Inserted another chunk...took: 10.002122402191162
Inserted another chunk...took: 9.507523536682129
Inserted another chunk...took: 9.47296929359436
Inserted another chunk...took: 6.006862640380859