In [10]:
import pandas as pd

In [11]:
from sqlalchemy import create_engine

In [12]:
df_iter = pd.read_csv('yellow_tripdata_2021-01.csv', iterator=True, chunksize=100000, low_memory=False)

In [13]:
df = next(df_iter)

In [14]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [114]:
print(pd.io.sql.get_schema(df, name='yellow_taxi_data', con=engine))

CREATE TABLE yellow_taxi_data (
	"VendorID" BIGINT,
	tpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	tpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	passenger_count BIGINT,
	trip_distance FLOAT(53),
	"RatecodeID" BIGINT,
	store_and_fwd_flag TEXT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	payment_type BIGINT,
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	congestion_surcharge FLOAT(53)
)

In [15]:
df.head(n=0).to_sql(name='yellow_taxi_data', con=engine, if_exists='replace')

0

In [16]:
df_iter = pd.read_csv('yellow_tripdata_2021-01.csv', iterator=True, chunksize=100000, low_memory=False)

In [17]:
from time import time

In [18]:
while True:
    try:
    	t_start = time()
    	df = next(df_iter)
    
    	df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
    	df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)
    	
    	df.to_sql(name='yellow_taxi_data', con=engine, if_exists='append')
    
    	t_end = time()
        
    
    	print('Inserted another chunk...took:',(t_end-t_start))
    except StopIteration:
        break

Inserted another chunk...took: 9.346803188323975
Inserted another chunk...took: 9.324097871780396
Inserted another chunk...took: 9.355193853378296
Inserted another chunk...took: 9.497532844543457
Inserted another chunk...took: 9.55679965019226
Inserted another chunk...took: 9.474254131317139
Inserted another chunk...took: 9.401846647262573
Inserted another chunk...took: 9.285743951797485
Inserted another chunk...took: 9.323712587356567
Inserted another chunk...took: 9.21903395652771
Inserted another chunk...took: 10.002122402191162
Inserted another chunk...took: 9.507523536682129
Inserted another chunk...took: 9.47296929359436
Inserted another chunk...took: 6.006862640380859