In [1]:
import pyspark
from pyspark.sql import SparkSession
spark = SparkSession.builder \
    .master("local[*]") \
    .appName('test') \
    .getOrCreate()

24/03/04 15:12:36 WARN Utils: Your hostname, codespaces-7c94d8 resolves to a loopback address: 127.0.0.1; using 172.16.5.4 instead (on interface eth0)
24/03/04 15:12:36 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

24/03/04 15:12:37 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
24/03/04 15:12:38 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.

In [2]:
df_fhv = spark.read.parquet('fhv/2019/10/*')

In [10]:
from pyspark.sql import functions as F

In [11]:
df_fhv.groupBy(F.to_date('pickup_datetime')).count().show()

+------------------------+-----+
|to_date(pickup_datetime)|count|
+------------------------+-----+
|              2019-10-05|52398|
|              2019-10-24|67663|
|              2019-10-01|59873|
|              2019-10-22|62950|
|              2019-10-04|68227|
|              2019-10-02|68746|
|              2019-10-08|64049|
|              2019-10-30|66504|
|              2019-10-14|52665|
|              2019-10-21|61381|
|              2019-10-28|64075|
|              2019-10-25|67648|
|              2019-10-26|52569|
|              2019-10-15|62610|
|              2019-10-12|51434|
|              2019-10-20|48304|
|              2019-10-31|63972|
|              2019-10-10|68559|
|              2019-10-17|67656|
|              2019-10-16|68156|
+------------------------+-----+
only showing top 20 rows

In [8]:
df_fhv.createOrReplaceTempView('fhv_data')

In [13]:
spark.sql("""
SELECT 
    count(1) 
FROM fhv_data
WHERE CAST(pickup_datetime AS DATE) = '2019-10-15';
""").show()

+--------+
|count(1)|
+--------+
|   62610|
+--------+

In [22]:
spark.sql("""
SELECT 
    DATEDIFF(hour, pickup_datetime, dropOff_datetime) AS DateDiff
FROM fhv_data
ORDER BY DateDiff DESC
LIMIT 10;
""").show()

+--------+
|DateDiff|
+--------+
|  631152|
|  631152|
|   87672|
|   70128|
|    8794|
|    8784|
|    1464|
|    1056|
|    1056|
|     793|
+--------+

In [23]:
!wget https://github.com/DataTalksClub/nyc-tlc-data/releases/download/misc/taxi_zone_lookup.csv

--2024-03-04 15:54:21--  https://github.com/DataTalksClub/nyc-tlc-data/releases/download/misc/taxi_zone_lookup.csv
Resolving github.com (github.com)... 140.82.121.3
Connecting to github.com (github.com)|140.82.121.3|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://objects.githubusercontent.com/github-production-release-asset-2e65be/513814948/5a2cc2f5-b4cd-4584-9c62-a6ea97ed0e6a?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAVCODYLSA53PQK4ZA%2F20240304%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20240304T155421Z&X-Amz-Expires=300&X-Amz-Signature=5d8813fe3c849af13370a8f3cd64ff6fb349e04d9132d2bcf5d0a485dc886489&X-Amz-SignedHeaders=host&actor_id=0&key_id=0&repo_id=513814948&response-content-disposition=attachment%3B%20filename%3Dtaxi_zone_lookup.csv&response-content-type=application%2Foctet-stream [following]
--2024-03-04 15:54:21--  https://objects.githubusercontent.com/github-production-release-asset-2e65be/513814948/5a2cc2f5-b4cd-4584-9c62-a6ea97ed0e6a?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAVCODYLSA53PQK4ZA%2F20240304%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20240304T155421Z&X-Amz-Expires=300&X-Amz-Signature=5d8813fe3c849af13370a8f3cd64ff6fb349e04d9132d2bcf5d0a485dc886489&X-Amz-SignedHeaders=host&actor_id=0&key_id=0&repo_id=513814948&response-content-disposition=attachment%3B%20filename%3Dtaxi_zone_lookup.csv&response-content-type=application%2Foctet-stream
Resolving objects.githubusercontent.com (objects.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to objects.githubusercontent.com (objects.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 12322 (12K) [application/octet-stream]
Saving to: ‘taxi_zone_lookup.csv’

taxi_zone_lookup.cs 100%[===================>]  12.03K  --.-KB/s    in 0s

2024-03-04 15:54:22 (48.1 MB/s) - ‘taxi_zone_lookup.csv’ saved [12322/12322]

In [32]:
df_taxi_zone = spark.read.option("header", True).csv('taxi_zone_lookup.csv')

In [33]:
df_taxi_zone.createOrReplaceTempView('taxi_zone_data')

In [34]:
spark.sql("""
SELECT *
FROM taxi_zone_data
LIMIT 10;
""").show()

+----------+-------------+--------------------+------------+
|LocationID|      Borough|                Zone|service_zone|
+----------+-------------+--------------------+------------+
|         1|          EWR|      Newark Airport|         EWR|
|         2|       Queens|         Jamaica Bay|   Boro Zone|
|         3|        Bronx|Allerton/Pelham G...|   Boro Zone|
|         4|    Manhattan|       Alphabet City| Yellow Zone|
|         5|Staten Island|       Arden Heights|   Boro Zone|
|         6|Staten Island|Arrochar/Fort Wad...|   Boro Zone|
|         7|       Queens|             Astoria|   Boro Zone|
|         8|       Queens|        Astoria Park|   Boro Zone|
|         9|       Queens|          Auburndale|   Boro Zone|
|        10|       Queens|        Baisley Park|   Boro Zone|
+----------+-------------+--------------------+------------+

In [41]:
spark.sql("""
SELECT Zone, count(1)
FROM fhv_data
LEFT JOIN
taxi_zone_data
ON PULocationID = LocationID
GROUP BY Zone
ORDER BY count(1) ASC
""").show()

+--------------------+--------+
|                Zone|count(1)|
+--------------------+--------+
|         Jamaica Bay|       1|
|Governor's Island...|       2|
| Green-Wood Cemetery|       5|
|       Broad Channel|       8|
|     Highbridge Park|      14|
|        Battery Park|      15|
|Saint Michaels Ce...|      23|
|Breezy Point/Fort...|      25|
|Marine Park/Floyd...|      26|
|        Astoria Park|      29|
|    Inwood Hill Park|      39|
|       Willets Point|      47|
|Forest Park/Highl...|      53|
|  Brooklyn Navy Yard|      57|
|        Crotona Park|      62|
|        Country Club|      77|
|     Freshkills Park|      89|
|       Prospect Park|      98|
|     Columbia Street|     105|
|  South Williamsburg|     110|
+--------------------+--------+
only showing top 20 rows